@import '../../libs/variables.scss';

.search-city-container {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px dashed #c3c3c3;
  position: relative;
  input {
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #fefefe;
    padding: 5px 0;
    border-radius: 5px;
    text-indent: 10px;
  }
  .cities-container {
    position: absolute;
    width: 100%;
    top: 57px;
    left: 0;
    background: #f1f1f1;
    border: 1px solid #ccc;
    .city-item {
      text-indent: 10px;
      padding: 5px 0;
      cursor: pointer;

      &:hover {
        color: $primary-color;
        background: #ebebeb;
      }
    }
  }
}
