body {
  margin: 0;
  font-family: tahoma, sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
input {
  outline: none;
}
input:focus {
  border-color: #89c7e3 !important;
}
